<div id="separatorC">
    <div class="row" id="bodyRow">
     <h1> Add New Product</h1>
     <br>
      <div class="col-md-4" id="borderform">
        <form action="/products/new" method="POST" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <label for="name" class="formPad">Name </label>
            <input id="name" name="name" type="text" class="form-control"  placeholder="Name" >
            <br>
            <label for="photo" class="formPad">Photo</label>
            <input id="photo" name="photo" type="text" class="form-control" placeholder="URL">
            <br>
            <label for="stock" class="formPad">Stock</label>
            <input id="stock" name="stock" type="text" class="form-control" placeholder="Stock">
          </div>
        
      </div>
           <div class="col-md-5" >
              
                <div class="form-group">
                  <label for="description" class="formPad">Description </label>
                  <textarea id="description" name="description" type="text" class="form-control">
                  </textarea>
                    
                   <button type="submit" class="btn btn-default" id="buttonSub" >Submit</button>   
                </div>
                
           </div>
           
        </form>
    </div>
    <div class="description">
 
                        <div class="description-text">
                            <h2>THE JUNGLE SHOP</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
                        </div>
    </div>
</div>

