

.formPad{
	margin-bottom: 13px;
	color: white;
}



.contentTitle{
	width: 70%;
	margin-left:15%;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 15%;
	text-align: center;
	color:white;
	
	
}



h4{
	font-size: 48px;
	font-family: 'Libre Baskerville', serif;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 15px;
	text-align: center;
	color:white;

}

h1{
	font-family: 'Libre Baskerville', serif;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 15px;
	text-align: left;
	color:white;

}

.backgConteiner{

	background: url("../images/slide3.jpg");
	/*Para ver el documento con una imagen alternativa cambiar imagen01.jpg x img16.jpg
	no la puse por que no mantiene la misma calidad que la original*/
    background-size: 100% auto; 
	background-repeat: repeat-y;
	
	padding: 30px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #4f2e4f;
}
	
#separatorC{
	
	background: url("../images/slide2.jpg") no-repeat center fixed; 
    background-size: cover;
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #4f2e4f;
}

#borderform{
	margin:5px;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 1px solid white;
}

#bodyRow {
 padding: 0 15px 0 25px;
}

@media(max-width: 766px){
  
  #buttonSub{

		margin-top: 10px;
		margin-bottom: 10px;
  }

  #bodyRow{
  	padding: 0 15px 0 15px;
  }

}

@media(min-width: 766px){
  
 	#separatorC{

	margin-bottom: 25px;
	margin-top: 10px;
    
	
	}

	#buttonSub{
		margin-top: 10px;
		margin-bottom: 90px;
		float:right;
	}


}

.description-text {
    background-color: rgba(35,35,35,.7);
    padding:10px;
    top: 0;
    z-index: 4;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: #fff;
}


.description {
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family:Archivo Narrow;
    z-index: 1000;
}


